---
import H1 from "../components/h1.astro";
import Link from "../components/link.astro";
import InfoLayout from "../layouts/InfoLayout.astro";
import { PERSONAL_INFO } from "../constants";
---

<InfoLayout>
	<div class="flex flex-col justify-center min-h-full">
		<div class="text-center">
			<H1 size="large"> Welcome <br /> to my Portfolio </H1>
			<p class="text-white/80 text-lg mt-6 max-w-2xl mx-auto">
				I'm a full-stack developer passionate about creating innovative solutions. 
				Explore my work and let's build something amazing together.
			</p>
			
			<div class="mt-8 flex items-center justify-center gap-4">
				<Link href="/projects">View My Work</Link>
				<Link href="/contact" variant="secondary">Get In Touch</Link>
			</div>
		</div>
	</div>
</InfoLayout>
